{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("/styles/profile.css") }}">
    <link rel="stylesheet" href="{{ asset('styles/stars.css') }}">
{% endblock %}

{% block javascripts %}
    <script>
        let containerComm = document.querySelector('.comm_container');
        containerComm.addEventListener('scroll', function() {
            console.log(containerComm.scrollTop);
            console.log(containerComm.scrollHeight);
            console.log(containerComm.clientHeight);
            console.log(containerComm.scrollHeight - containerComm.clientHeight);
            console.log('------------------------------');
            if (containerComm.scrollTop > 0) {
                containerComm.classList.add('top');
            }else if(containerComm.scrollTop == 0){
                containerComm.classList.remove('top');
            }
            if (containerComm.scrollTop < containerComm.scrollHeight - containerComm.clientHeight) {
                containerComm.classList.add('bottom');
            }else if(containerComm.scrollTop == containerComm.scrollHeight - containerComm.clientHeight) {
                console.log('ok');
                containerComm.classList.remove('bottom');
            }
        });
    </script>
{% endblock %}

{% block body %}


    <div class="banner" style="background: url('{{ user.avatar ? (vich_uploader_asset(user.avatar, 'bannerImageFile') | default(asset('/images/user/banner/default.png'))) : asset('/images/user/banner/default.png') }}');">
        {% if app.user != null and app.user.id == user.id %}
            <div class="settings">
                <a href="{{ path('app_profile_settings') }}">
                    <svg height="1.5em" viewBox="0 0 512 512">
                        <path d="M495.9 166.6c3.2 8.7 .5 18.4-6.4 24.6l-43.3 39.4c1.1 8.3 1.7 16.8 1.7 25.4s-.6 17.1-1.7 25.4l43.3 39.4c6.9 6.2 9.6 15.9 6.4 24.6c-4.4 11.9-9.7 23.3-15.8 34.3l-4.7 8.1c-6.6 11-14 21.4-22.1 31.2c-5.9 7.2-15.7 9.6-24.5 6.8l-55.7-17.7c-13.4 10.3-28.2 18.9-44 25.4l-12.5 57.1c-2 9.1-9 16.3-18.2 17.8c-13.8 2.3-28 3.5-42.5 3.5s-28.7-1.2-42.5-3.5c-9.2-1.5-16.2-8.7-18.2-17.8l-12.5-57.1c-15.8-6.5-30.6-15.1-44-25.4L83.1 425.9c-8.8 2.8-18.6 .3-24.5-6.8c-8.1-9.8-15.5-20.2-22.1-31.2l-4.7-8.1c-6.1-11-11.4-22.4-15.8-34.3c-3.2-8.7-.5-18.4 6.4-24.6l43.3-39.4C64.6 273.1 64 264.6 64 256s.6-17.1 1.7-25.4L22.4 191.2c-6.9-6.2-9.6-15.9-6.4-24.6c4.4-11.9 9.7-23.3 15.8-34.3l4.7-8.1c6.6-11 14-21.4 22.1-31.2c5.9-7.2 15.7-9.6 24.5-6.8l55.7 17.7c13.4-10.3 28.2-18.9 44-25.4l12.5-57.1c2-9.1 9-16.3 18.2-17.8C227.3 1.2 241.5 0 256 0s28.7 1.2 42.5 3.5c9.2 1.5 16.2 8.7 18.2 17.8l12.5 57.1c15.8 6.5 30.6 15.1 44 25.4l55.7-17.7c8.8-2.8 18.6-.3 24.5 6.8c8.1 9.8 15.5 20.2 22.1 31.2l4.7 8.1c6.1 11 11.4 22.4 15.8 34.3zM256 336a80 80 0 1 0 0-160 80 80 0 1 0 0 160z"></path>
                    </svg>
                </a>
            </div>
        {% endif %}
    </div>
    <div class="container-profile">
        <div class="banner-content">
            <div class="img">
                <img src="{{ user.avatar ? (vich_uploader_asset(user.avatar, 'ppImageFile') | default(asset('/images/user/pp/default.png'))) : asset('/images/user/pp/default.png') }}" alt="Profile picture">
            </div>
            <div class="user-info">
                <h2>{{ user.username }}</h2>
                <div class="bio">
                    <h5>A propos :</h5>
                    <p>{{ user.bio }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div>
            <h2>Notes</h2>
                <div class="notes_container">
                {% for note in user.getNotes() %}
                    <a class="note_display" href="{{ path('app_anime_show', {'id': note.anime.id}) }}">
                        <div>
                            <img class="cover" src="{{ vich_uploader_asset(note.anime, "coverImageFile") }}" alt="Note Image">
                        </div>
                        <h3>{{ note.anime.nom|length > 20 ? note.anime.nom|slice(0, 20) ~ '...' : note.anime.nom }}</h3>
                        {{ component('stars', {note:note.note}) }}
                    </a>
                {% else %}
                    <p>Vous n'avez pas encore mis de notes 😢</p>
                {% endfor %}
                </div>
        </div>

        <div>
            <h2>Commentaires</h2>
                <div class="comm_container bottom">
                {% for com in user.getCommentaires() %}
                    <div class="comm_display">
                        <a href="{{ path('app_anime_show', {'id': com.anime.id}) }}">
                            <img src="{{ vich_uploader_asset(com.anime, "coverImageFile") }}" alt="Comm Image">
                        </a>
                        <div class="comm_content">
                            <h3>{{ com.anime.nom }}</h3>
                            <p>{{ com.commentaire }}</p>
                        </div>
                    </div>
                {% else %}
                    <p>Vous n'avez pas encore mis de commentaires 😢</p>
                {% endfor %}
                </div>
        </div>
    </div>
{% endblock %}