{% extends 'base.html.twig' %}

{% block title %}Anime index{% endblock %}

{% block body %}
    <h1>Anime index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Synopsis</th>
                <th>CoverImageName</th>
                <th>CoverImageSize</th>
                <th>BannerImageName</th>
                <th>BannerImageSize</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for anime in animes %}
            <tr>
                <td>{{ anime.id }}</td>
                <td>{{ anime.nom }}</td>
                <td>{{ anime.synopsis }}</td>
                <td>{{ anime.coverImageName }}</td>
                <td>{{ anime.coverImageSize }}</td>
                <td>{{ anime.bannerImageName }}</td>
                <td>{{ anime.bannerImageSize }}</td>
                <td>{{ anime.updatedAt ? anime.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_anime_show', {'id': anime.id}) }}">show</a>
                    <a href="{{ path('app_anime_edit', {'id': anime.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_anime_new') }}">Create new</a>
{% endblock %}
