{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("/styles/anime.css") }}">
    <link rel="stylesheet" href="{{ asset("/styles/stars.css") }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('scripts/anime.js') }}"></script>
{% endblock %}

{% block title %}{{ anime.nom }}{% endblock %}

{% block body %}
    <div class="banner" style="background: url('{{ vich_uploader_asset(anime, "bannerImageFile")}}');"></div>
        <div class="sec">
            <div class="cardAnime">
                <div class="cover">
                    <img src="{{ vich_uploader_asset(anime, "coverImageFile") }}" alt="Cover Image">
                </div>
                <div class="info">
                    <h1>{{ anime.nom }}</h1>
                    <p>{{ anime.synopsis }}</p>
                </div>
            </div>
            <div class="interact">
                <div class="commentaires">
                    <h2>Commentaires</h2>
                    {% if app.user %}
                        {{ form_start(form1) }}
                        {{ form_widget(form1) }}
                        <div class="bottom">
                            <button type="submit">Publier</button>
                            <span class="counter"><span class="character-count">0</span>/500</span>
                        </div>
                    {{ form_end(form1) }}
                    {% endif %}
                    <div class="commentaires-users">
                        {% for commentaire in anime.commentaires | sort((a, b) => b.dateCreation <=> a.dateCreation) %}
                            <div class="bloc commentaire">
                                <div class="top">
                                    <h3>{{ commentaire.user.username }}</h3>
                                    <span class="datetime">
                                    <span class="date">{{ commentaire.dateCreation | date('d-m-Y') }}</span>
                                    <span class="time">{{ commentaire.dateCreation | date('H:i:s') }}</span>
                                </span>
                                </div>
                                <p>{{ commentaire.commentaire }}</p>
                            </div>
                        {% else %}
                            <p>Aucun Commentaire</p>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <div class="notes">
                    <h2>Notes</h2>
                    {% if app.user %}
                        {{ form_start(form2) }}
                        {{ form_widget(form2) }}
                        {{ form_end(form2) }}
                    {% endif %}
                    <div class="notes-users">
                    {% for note in anime.notes | sort((a, b) => b.dateCreation <=> a.dateCreation) %}
                        <div class="bloc note">
                            <div class="top">
                                <h3>{{ note.user.username }}</h3>
                                <span class="datetime">
                                    <span class="date">{{ note.dateCreation | date('d-m-Y') }}</span>
                                    <span class="time">{{ note.dateCreation | date('H:i:s') }}</span>
                                </span>
                            </div>
                            <div class="rating">
                                {% set fullStars = note.note | round(0, 'floor') %} {# Get the integer part for full stars #}
                                {% set hasHalfStar = note.note - fullStars >= 0.5 %}
                                {% for i in range(1, 5) %}
                                    {% if i <= fullStars %}
                                        <span class="star">&#9733;</span>
                                    {% elseif hasHalfStar %}
                                        {% set hasHalfStar = false %}
                                        <span class="star half">&#9733;</span>
                                        <span class="star">&#9734;</span>
                                    {% else %}
                                        <span class="star">&#9734;</span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <p>Aucune Note</p>
                    {% endfor %}
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
