{% extends 'base.html.twig' %}

{% block title %}Anime index{% endblock %}

{% block body %}
    <h1>Anime index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Synopsis</th>
                <th>ImgUrl</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for anime in animes %}
            <tr>
                <td>{{ anime.id }}</td>
                <td>{{ anime.nom }}</td>
                <td>{{ anime.synopsis }}</td>
                <td>{{ anime.imgUrl }}</td>
                <td>
                    <a href="{{ path('app_anime_crud_show', {'id': anime.id}) }}">show</a>
                    <a href="{{ path('app_anime_crud_edit', {'id': anime.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_anime_crud_new') }}">Create new</a>
{% endblock %}
