{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/accueil.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/stars.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/accueil.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="sec1">
        <div class="anime-new">
            <div class="line">
                <div class="dot-btn">
                    {% for i in range (1, newAnime | length) %}
                        <button class="{{ i==1 ? "active" : "" }}"></button>
                    {% endfor %}
                </div>
                {% for key,anime in newAnime %}
                    <div class="new {{ key==0 ? "active" : "" }}">
                        <div class="img">
                            <img src="{{ vich_uploader_asset(anime, 'bannerImageFile') }}" alt="{{ anime.nom }}">
                        </div>
                        <div class="info">
                            <h5>{{ anime.nom | length > 20 ? anime.nom | slice(0, 20) ~ "..." : anime.nom }}</h5>
                            <p>{{ anime.synopsis | length > 150 ? anime.synopsis | slice(0, 150) ~ "..." : anime.synopsis }}</p>
                            <div class="voir-plus-btn">
                                <a href="{{ path('app_anime_show', {'id':anime.id}) }}">Voir plus</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if app.user %}
            <div class="activite">
                <div class="container-b">
                    <h2 class="h2">Activité de {{ app.user.username }}</h2>
                    <div class="anime-activite">
                        <div class="column-a">
                            {% for key, action in lastActions %}
                                <a class="carte-column {{ key==0 ? "active" : "" }}" href="{{ path('app_anime_show', {'id' : action.anime.id}) }}">
                                    <div class="img" >
                                        <img src="{{ vich_uploader_asset(action.anime, 'coverImageFile') }}" alt="{{ action.anime.nom }}">
                                    </div>
                                    <div class="info">
                                        {% if action.note is defined %}
                                            <h5>Note</h5>
                                            <div class="note">
                                                <div class="rating">
                                                    {% set fullStars = action.note | round(0, 'floor') %} {# Get the integer part for full stars #}
                                                    {% set hasHalfStar = action.note - fullStars >= 0.5 %}
                                                    {% for i in range(1, 5) %}
                                                        {% if i <= fullStars %}
                                                            <span class="star">&#9733;</span>
                                                        {% elseif hasHalfStar %}
                                                            {% set hasHalfStar = false %}
                                                            <span class="star half">&#9733;</span>
                                                            <span class="star">&#9734;</span>
                                                        {% else %}
                                                            <span class="star">&#9734;</span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <p class="date-heure">{{ action.dateCreation|date('Y-m-d H:i') }}</p>
                                            </div>
                                        {% else %}
                                            <h5>Commentaire</h5>
                                            <div class="commentaire">
                                                {% if action.commentaire|length > 40 %}
                                                    <p>{{ action.commentaire[:40] ~ '...'}}</p>
                                                {% else %}
                                                    <p>{{ action.commentaire}}</p>
                                                {% endif %}
                                                <p class="">{{ action.dateCreation|date('Y-m-d H:i') }}</p>
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="dot-btn">
                            {% for i in range (1, lastActions | length) %}
                                <button class="{{ i==1 ? "active" : "" }}"></button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="anime-une">
           <div class="container-a">
                <h2>Nouveautés</h2>
                <div class="row-b">
                    <div class="row-a">
                        {% for anime in newAnime %}
                            <a class="carte-row" href="{{ path('app_anime_show', {'id':anime.id}) }}">
                                <div class="img">
                                    <img src="{{ vich_uploader_asset(anime, 'coverImageFile') }}" alt="{{ anime.nom }}">
                                </div>
                                <h5>{{ anime.nom }}</h5>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
