{% extends 'base.html.twig' %}

{% block title %}Recherche Utilisateur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/searchuser.css') }}">
{% endblock %}

{% block body %}
    <div class="bloc">
        <h1>Recherche Utilisateur</h1>

        {{ form_start(form1) }}
        {{ form_row(form1.search) }}
        {{ form_end(form1) }}
        <div class="container-block">
            <div class="container-users">
                {% for user in users %}
                    <a class="user" href="{{ path('app_profile', {'id': user.id}) }}">
                        <div class="banner">
                            <img src="{{ vich_uploader_asset(user.avatar, 'bannerImageFile') | default(asset('/images/user/banner/default.png')) }}" alt="banner">
                        </div>
                        <div class="top">
                            <div class="pp">
                                <img src="{{ vich_uploader_asset(user.avatar, 'ppImageFile') | default(asset('/images/user/pp/default.png')) }}" alt="pp">
                            </div>
                            <h3>{{ user.username | length > 20 ? user.username | slice(0, 20) ~ "..." : user.username }}</h3>
                        </div>
                        <div class="info">
                            <h6>Bio</h6>
                            <p>
                                {% if user.bio %}
                                    {{ user.bio | slice(0, 70) }}...
                                {% else %}
                                    Aucune bio
                                {% endif %}
                            </p>
                        </div>
                    </a>
                {% else %}
                    <p>Aucun utilisateur trouvé</p>
                {% endfor %}

            </div>
            <nav class="pagination">
                {{ knp_pagination_render(users) }}
            </nav>
        </div>
    </div>
{% endblock %}
