<div class="checkbox-list">
    <label class="name-list">{{ title | capitalize }}</label>
    <div class="choice-list {{ title | lower }}">
        <div class="choice {{ title | lower }}-choice">
            <span class="all">Tout</span>
        </div>
        <i class="arrow-icon fas fa-caret-down"></i>
        <div class="choice-box">
            {% for child in list %}
                <div class="line {{ title[:-1] | lower }}">
                    {% set isChecked = app.request.get(title) is not null and child.vars.label in app.request.get(title) %}
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                    <i class="cross-icon fas fa-times"></i>
                </div>
            {% endfor %}
        </div>
    </div>
</div>